Django >= 1.7
django-guardian
django-extensions
boto
django-social-auth
django-bootstrap3
djangorestframework
drf-compound-fields
markdown
django-filter
django-debug-toolbar
django-encrypted-fields
PyJWT
drf-extensions
jsonfield
django-taggit
django-uuidfield
cfn-pyplates
mysql-python
#django-haystack == 2.3.1
-e git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
elasticsearch
celery_haystack
