boto<3.0
boto3<2.0
croniter<2.0
Django<5.0
django-axes<5.28
django-dbmi-client<1.0
django-bootstrap3<23.0
django-filter<23.0
django-health-check<4.0
django-guardian<3.0
django-nose<2.0
django-picklefield<4.0
django-taggit<4.0
dj-taggit-serializer<2.0
django-q<2.0
djangorestframework<4.0
djangorestframework-guardian<2.0
jsonfield<4.0
mysqlclient<3.0
pyyaml<7.0
raven<7.0
requests<3.0
