django
django-guardian
django-extensions
boto
django-social-auth
django-bootstrap3
djangorestframework
drf-compound-fields
markdown
django-filter
django-debug-toolbar
django-encrypted-fields
PyJWT
drf-extensions
jsonfield
django-taggit