Django == 1.7.7
django-guardian
django-extensions
boto
django-social-auth
django-bootstrap3
markdown
django-filter == 0.11.0
django-debug-toolbar
django-encrypted-fields
PyJWT
jsonfield
django-taggit
django-uuidfield
cfn-pyplates
mysql-python
requests
#django-haystack == 2.3.1
-e git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
elasticsearch
django-celery == 3.1.17
-e git+https://github.com/bradleyayers/django-celery-transactions.git#egg=django-celery-transactions
celery_haystack
djangorestframework == 2.4.4
drf-extensions
django-kombu
kombu
drf-compound-fields
django-nose
#django-health-check
-e git+https://github.com/davidbernick/django-health-check.git#egg=django-health-check
django-axes == 1.7.0
celery == 3.1.25