[fileservice]
fileserviceurl = https://fileservice-ci.dbmi.hms.harvard.edu
authtype = token
token = asdfasdfdasfasdfsda

#### if using authtype token ###
#token = asdfasdfasdfadsfsdaf
#### end authtype token

### if using authtype hmssaml ###
#username = demouser
#password = testtest
#adfsurl = http://adfs.medlab.harvard.edu/adfs/services/trust
#appcallback = https://fileservice-ci.dbmi.hms.harvard.edu/callback/
#auth0initial = https://hms-dbmi.auth0.com/authorize?response_type=code&scope=openid%20profile&client_id=oI1eRm6NxzYD4fcikngYYKDnxjLLY7wb&redirect_uri="+callback+"&connection=hms-it-test
#auth0callback = https://hms-dbmi.auth0.com/login/callback?connection=hms-it-test
#### end hmssaml

[udn]
udntoken = xx
udnurl = xx